* {
  padding: 0;
  box-sizing: border-box;
}

i {
  color: black;
  font-size: larger;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
/* Section - Daily Forecast */
#daily-forecast {
  border: 5px solid black;
  border-radius: 1rem;
  max-width: 80vw;
  align-self: center;
}

#daily-forecast > div {
  padding: 2rem;
  display: grid;
  grid-template-columns: [col1] 2.3fr [col2] 1fr;
  grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr;
}

#daily-forecast > div div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

#daily-forecast > div div > h3 {
  order: 2;
  font-size: 0.8rem;
}

/* Date */
#daily-forecast div:first-child {
  grid-column-start: col2;
  grid-row-start: row1;
}

/* Current Temperature */
#daily-forecast div:nth-child(2) {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row1;
  grid-row-end: row3;
}

#daily-forecast div:nth-child(2) > div {
  margin: auto 0;
  font-size: 5rem;
}

#daily-forecast div:nth-child(2) > h3 {
  margin: auto auto 0 0;
}

/* Feels Like */
#daily-forecast div:nth-child(3) {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row3;
  grid-row-end: row4;
}

/* Min Temperatures */
#daily-forecast div:nth-child(4) {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row4;
  grid-row-end: row5;
}

/* Max Temperatures */
#daily-forecast div:nth-child(5) {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row4;
  grid-row-end: row5;
  margin-left: 40%;
}

/* Humidity */
#daily-forecast div:nth-child(6) {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row5;
}

/* Weather Icon and Label */
#daily-forecast div:nth-child(7) {
  grid-column-start: col2;
  grid-row-start: row3;
  grid-row-end: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Weather Icon */
#daily-forecast div:nth-child(7) > div {
  flex-basis: 80%;
  max-width: 100%;
  max-height: 100%;
}

#daily-forecast div:nth-child(7) > div img {
  width: 100%;
  height: 100%;
  padding: 0;
}

/*  */
/* Section - Weekly Forecast */

#weekly-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#weekly-forecast > div {
  display: flex;
  flex-direction: column;
}
